@charset "utf-8";

@font-face {
    font-family: NANUMGOTHIC;
    src: url('../font/NANUMGOTHIC.eot');
    src: url('../font/NANUMGOTHIC.eot?#iefix') format('embedded-opentype'),
        url('../font/NANUMGOTHIC.woff') format('woff');
}

@font-face {
    font-family: NANUMGOTHICBOLD;
    src: url('../font/NANUMGOTHICBOLD.eot');
    src: url('../font/NANUMGOTHICBOLD.eot?#iefix')
        format('embedded-opentype'), url('../font/NANUMGOTHICBOLD.woff')
        format('woff');
}

*{
	margin:0;
	padding:0;
}

html, body{
	height: 100%;
	font-size: 16px;
	font-family: 'Nanum Gothic', 'Nanum Gothic Bold', 'NANUMGOTHIC', 'NANUMGOTHICBOLD';
}

h1, h2, h3, h4, dl, div{
	display:block;
}

div{
	box-sizing:border-box;
}

a:link, a:active, a:visited, a:focus{
	text-decoration: none;
	color:black;
}
a:hover{
	text-decoration:underline;
}

.Container{
position:relative;
width:100%;
margin:0 auto;
margin-top:10%;
max-width:960px;
min-height:100%;
}

.Container div{
	width:50%;
	position:relative;
	float:left;
	border:0px solid #F4F4EE; 
	padding:5px;
	height:150px;
	line-height:initial;
	font-size: 20px;
	font-weight:700;

}

#index_home{
	height:300px;
	border-right:1px solid #F4F4EE; 
}
#index_about{
	border-bottom:1px solid #F4F4EE;
}

#img_github{
width:21px;
height:21px;

}

